@model ReservaCreateViewModel
@{
    ViewData["Title"] = "Criar Reserva";
    var salas = ViewBag.Salas as IEnumerable<SalaViewModel> ?? Enumerable.Empty<SalaViewModel>();
}
<h2>Criar Reserva</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="SalaId"></label>
        <select asp-for="SalaId" class="form-control" asp-items="@(new SelectList(salas, "Id", "Nome"))"></select>
        <span asp-validation-for="SalaId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UsuarioId"></label>
        <input asp-for="UsuarioId" class="form-control" /> <!-- idealmente um select com usuários -->
        <span asp-validation-for="UsuarioId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataHoraInicio"></label>
        <input asp-for="DataHoraInicio" class="form-control" type="datetime-local" />
        <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
    </div>

    <div class="form-group"></div>
        <label asp-for="DataHoraFim"></label>
        <input asp-for="DataHoraFim" class="form-control" type="datetime-local" />
        <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
