@model ReservaCreateViewModel
@{
    ViewData["Title"] = "Criar Reserva";
    var salas = ViewBag.Salas as IEnumerable<SalaViewModel> ?? Enumerable.Empty<SalaViewModel>();
    var usuarios = ViewBag.Usuarios as IEnumerable<UsuarioViewModel> ?? Enumerable.Empty<UsuarioViewModel>();
}
<h2>Criar Reserva</h2>

<form asp-action="Criar" method="post">
    <div class="form-group">
        <label asp-for="SalaId">Sala</label>
        <select asp-for="SalaId" class="form-control" asp-items="@(new SelectList(salas, "Id", "Nome"))">
            <option value="">Selecione</option>
        </select>
        <span asp-validation-for="SalaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UsuarioId">Usuário</label>
        <select asp-for="UsuarioId" class="form-control" asp-items="@(new SelectList(usuarios, "Id", "Nome"))">
            <option value="">Selecione</option>
        </select>
        <span asp-validation-for="UsuarioId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataHoraInicio"></label>
        <input asp-for="DataHoraInicio" class="form-control" type="datetime-local" min="@ViewBag.DataMinima"
               oninvalid="this.setCustomValidity('Por favor, selecione uma data e hora igual ou posterior à atual.')"
               oninput="this.setCustomValidity('')" />
        <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataHoraFim"></label>
        <input asp-for="DataHoraFim" class="form-control" type="datetime-local"
               min="@ViewBag.DataMinima"
               oninvalid="this.setCustomValidity('Por favor, selecione uma data e hora igual ou posterior à atual.')"
               oninput="this.setCustomValidity('')" />
        <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
