@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Controle de Reservas</h1>
    <p>Desenvolvido por Wellington Santos <a href="https://www.github.com/wsantos-dev" target="_blank">Perfil Github</a>.</p>
</div>
